@model IEnumerable<CarbonFootPrint.Models.Recycle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carbon_Footprint_Primary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carbon_Footprint_Secondary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Footprint_Differences)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image_Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suggestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Kind)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carbon_Footprint_Primary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carbon_Footprint_Secondary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Footprint_Differences)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image_Path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suggestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Kind)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
