@model CarbonFootPrint.Models.Apparel_List

<!DOCTYPE html>
@{
    ViewBag.Title = "ClothMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>  
    <style>
        /*body {
            background-image: url("/Content/images/ApparelCoverPic.jpg");
            background-position:left;
            background-repeat: no-repeat;
            background-size: cover;
        }*/
        .Output{
             
 
  background-color: lightgray;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  text-align:left
}
        
    
        h2, h3, Label {
            color: black;
        }
    </style>
</head>
<body style="background-color:cadetblue">
    <br /><br /><br/><br/>
          <div class="form-horizontal">

              <h2 style="text-align:center">Clothing Carbon Calculator</h2> <br />
              <p style="text-align:center"><b><i>
                  On an average 3,700 litres of water goes into making a pair of jeans which involves manufacturing, production till
 transportation of the final product. This whole process emits around 30 kilograms of greenhouse gases.

Tell us what's there in your wardrobe and we will calculate the impact of your purchase on climate. Additionally,
 we will provide you with tips on leading a sustainable fashion lifestyle.
                  
                  </i></b>
                  </p> <br />

              @using (Html.BeginForm("ApparelMain", "Apparels", FormMethod.Post))
              {
                  @*@Html.AntiForgeryToken()*@

                  <div class="jumbotron">

                      <div class="row">
                          <div class="col-6 col-md-6">

                              <br/><br/>
                              <div class="form-group">
                                  <i> @Html.LabelFor(model => model.apparelOne, "Clothes: ", htmlAttributes: new { @class = "control-label col-md-2" })</i>
                                  <div class="col-md-10">

                                      @Html.DropDownListFor(model => model.apparelOne, (SelectList)ViewBag.ApparelOne, "-Select-",htmlAttributes: new { @class = "form-control" })
                                      @Html.ValidationMessageFor(model => model.apparelOne, "", new { @class = "text-danger" })
                                  </div> <br />
                              </div>

                              <br />
                              <div class="form-group">

                                  <i> @Html.LabelFor(model => model.quantityOne, "Quantity: ", htmlAttributes: new { @class = "control-label col-md-2" })</i>

                                  <div class="col-md-10">
                                      @Html.EditorFor(model => model.quantityOne, new { htmlAttributes = new { @class = "form-control" } })
                                      @Html.ValidationMessageFor(model => model.quantityOne, "", new { @class = "text-danger" })
                                      <br /><br />
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-md-offset-2 col-md-10">
                                      <input type="submit" value="Calculate carbon footprint" class="btn btn-default" />
                                  </div>
                              </div>
                          </div>

                          <div class="col-12 col-md-6" >

                              @if (ViewBag.actualCFP != null)
                              {
                                  <div class="Output">

                                      <div class="label">
                                          <h4 style="color:black">Your CO2 Emission is: </h4>
                                          <p style="color:black"> <b> @ViewBag.actualCFP  Kg of CO<sub>2</sub></b></p>
                                      </div>



                                      @if (ViewBag.ecoEfficiency != null && ViewBag.ecoEfficiency != 0)
                                      {


                                          <h3><i>Top Tips for Reducing your Clothing Carbon Footprint:</i></h3>

                                          <ul class="form-group">

                                              @if (ViewBag.ecoEfficiency != null)
                                              {
                                                  <li>
                                                      <p>
                                                          Buying these clothes with eco-efficiency brands reduces <b><i> @ViewBag.ecoEfficiency Kg of CO<sub>2</sub></i></b>
                                                      </p>

                                                  </li>
                                              }

                                              @if (ViewBag.durable != null)
                                              {
                                                  <li>
                                                      <p>
                                                          Buying these clothes with durability reduces <b><i> @ViewBag.durable Kg of CO<sub>2</sub></i></b>
                                                      </p>

                                                  </li>
                                              }

                                              @if (ViewBag.cleanCloth != null)
                                              {
                                                  <li>
                                                      <p>
                                                          Cleaning these item with less frequency reduces <b><i> @ViewBag.cleanCloth Kg of CO<sub>2</sub></i></b>
                                                      </p>

                                                  </li>
                                              }

                                              @if (ViewBag.washClothesOrIncreaseWashingSize != null)
                                              {
                                                  <li>
                                                      <p>
                                                          Washing these clothes with low temperature or increasing drying load of the size of washing reduces <b><i> @ViewBag.washClothesOrIncreaseWashingSize Kg of CO<sub>2</sub></i></b>
                                                      </p>

                                                  </li>
                                              }

                                              @if (ViewBag.reuseMore != null)
                                              {
                                                  <li>
                                                      <p>
                                                          Reusing these clothes reduces <b><i> @ViewBag.reuseMore Kg of CO<sub>2</sub></i></b>
                                                      </p>

                                                  </li>
                                              }

                                          </ul>

                                      }
                                  </div>
                              }
                            


                              </div>


                          </div>

                  </div>
           


              }
          </div> <br/> <br/>

</body>
</html>
